SE_KEYVAULT=true
AZURE_KEYVAULT_URL=https://team02-keyvault.vault.azure.net/
KV_SECRET_AZURE_OPENAI_API_KEY=AZURE-OPENAI-API-KEY
KV_SECRET_AZURE_OPENAI_ENDPOINT=AZURE-OPENAI-ENDPOINT

AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-small
OPENAI_TEMPERATURE=0.1

MONGODB_URI=mongodb+srv://jmpark:xy4XVRyEXKIe27bA@cluster0.xmippsg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=edu_platform
MONGODB_COLLECTION_MATERIALS=materials

# venv에서 로컬 실행 시 postgres 호스트를 localhost로!
POSTGRESQL_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/ai_service

FLASK_ENV=production
LOG_LEVEL=INFO


MONGODB_SEARCH_INDEX=materials_vector_index

